.text1 {
  line-height: 1.2;
  /* font-family: system-ui; */
  text-align: center;
  font-size: 20px;
}

.text2 {
  line-height: 1.2;
  /* font-family: system-ui; */
  font-size: 15px;
  text-align: center;
}
.footer {
  display: block;
  padding-top: 2em;
  padding-bottom: 2em;
  background: #000000;
  color: blanchedalmond;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: center;
  text-align: center;
}

.flex div {
  width: 300px;
  justify-content: center;
}

a:link {
  color: blanchedalmond;
  text-decoration: none;
}

a:hover {
  color: darkgoldenrod;
  text-decoration: none;
}

a:active {
  color: darkgoldenrod;
  text-decoration: none;
}

a:visited {
  color: blanchedalmond;
  text-decoration: none;
}
