 main {
    width: 500px;
    background-color: rgba(241, 198, 169, 0.8);
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    text-align: center;
    border:solid 1px;
}

h1 {
    position: relative; 
    margin-right: auto; 
    margin-left: auto; 
    border:solid 1px;
}

p {
    text-indent: 3ch;
    text-align:justify;
    padding: 10px;
}

img{
    image-resolution: 100dpi;
}