main {
    width: 500px;
    background-color: rgba(241, 198, 169, 0.8);
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    text-align: center;
    border:solid 1px;
}

h1 {
    position: relative; 
ouvfîqenp
reaon^v


}
zklvnaôfi

bla bla